.venv/
dlt_duckdb/.dlt/
dlt_duckdb/resources/__pycache__
dlt_duckdb/utils/__pycache__

dlt_bigquery/.dlt/
dlt_bigquery/resources/__pycache__
dlt_bigquery/utils/__pycache__

dbt_bigquery/.dbt/
dbt_bigquery/.vscode/
dbt_bigquery/profiles.yml
dbt_bigquery/README.md
dbt_bigquery/.user.yml

metabase-data/


themoviedb_pipeline.duckdb
credentials/

terraform/.terraform
terraform/.terraform.lock.hcl

.terraform/
*.tfstate
*.tfstate.backup

.env