networks:
  elt_network:
    driver: bridge

volumes: {}

services:
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 9999:8080

  mage:
    build:
      context: .
      dockerfile: Dockerfile.mage
    container_name: mage
    ports:
      - "6789:6789"
    volumes:
      - .:/home/src/
      - ./dlt_bigquery/.dlt/secrets.toml:/home/src/dlt_bigquery/.dlt/secrets.toml
      - ./dlt_bigquery/.dlt/config.toml:/home/src/dlt_bigquery/.dlt/config.toml
      - ${DBT_FILE_PATH}:/keys
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/keys
      - USER_CODE_PATH=/home/src/default_repo
      - REQUIRE_USER_AUTHENTICATION=0
    networks:
      - elt_network

