networks:
  elt_network:
    driver: bridge

volumes: {}

services:
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 9999:8080

  mage:
    build:
      context: .
      dockerfile: Dockerfile.mage
    container_name: mage
    ports:
      - "6789:6789"
    volumes:
      - .:/home/src/
      - ./dlt_bigquery/.dlt/secrets.toml:/home/src/dlt_bigquery/.dlt/secrets.toml
      - ./dlt_bigquery/.dlt/config.toml:/home/src/dlt_bigquery/.dlt/config.toml
      - ${DBT_FILE_PATH}:/keys
    environment:
      - GOOGLE_APPLICATION_CREDENTIALS=/keys
      - USER_CODE_PATH=/home/src/default_repo
      - REQUIRE_USER_AUTHENTICATION=0
    networks:
      - elt_network

  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    hostname: metabase
    ports:
      - "3000:3000"
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabaseappdb
      MB_DB_PORT: 5432
      MB_DB_USER: admin
      MB_DB_PASS: 1234
      MB_DB_HOST: metabase-postgres
    depends_on:
      - metabase-postgres
    networks:
      - elt_network
    volumes:
      - ${DBT_FILE_PATH}:/keys

  metabase-postgres:
    image: postgres:14
    container_name: metabase-postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: metabaseappdb
    volumes:
      - ./metabase-data:/var/lib/postgresql/data
    networks:
      - elt_network

