services:
  dozzle:
    container_name: dozzle
    image: amir20/dozzle:latest
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 9999:8080

  dlt_bigquery:
    build:
      context: ./dlt_bigquery
      dockerfile: Dockerfile
    volumes:
      - ./dlt_bigquery/.dlt/secrets.toml:/app/.dlt/secrets.toml
      - ./dlt_bigquery/.dlt/config.toml:/app/.dlt/config.toml
    command: ["python", "main.py"]
    networks:
      - elt_network

  # dlt_duckdb:
  #   build:
  #     context: ./dlt_duckdb
  #     dockerfile: Dockerfile
  #   volumes:
  #     - ./dlt_duckdb/.dlt/secrets.toml:/app/.dlt/secrets.toml
  #     - ./dlt_duckdb/.dlt/config.toml:/app/.dlt/config.toml
  #   command: ["python", "main.py"]
  #   networks:
  #   - elt_network

  dbt:
    image: ghcr.io/dbt-labs/dbt-bigquery:1.7.7
    entrypoint: ["/bin/sh", "-c"]
    working_dir: /dbt
    command:
      [
        "ls -al /dbt && ls -al /keys && dbt deps && dbt run --profiles-dir . --project-dir /dbt",
      ]
    networks:
      - elt_network
    volumes:
      - ${DBT_FILE_PATH}:/keys
      - ./dbt_bigquery:/dbt
      - ~/.dbt:/root/.dbt
    depends_on:
      - dlt_bigquery
    environment:
      - DBT_PROFILE=default
      - DBT_TARGET=dev

  metabase:
    image: metabase/metabase:latest
    container_name: metabase
    hostname: metabase
    ports:
      - "3000:3000"
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabaseappdb
      MB_DB_PORT: 5432
      MB_DB_USER: admin
      MB_DB_PASS: 1234
      MB_DB_HOST: metabase-postgres
    depends_on:
      - metabase-postgres
    networks:
      - elt_network
    volumes:
      - ${DBT_FILE_PATH}:/keys

  metabase-postgres:
    image: postgres:14
    container_name: metabase-postgres
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: metabaseappdb
    volumes:
      - ./metabase-data:/var/lib/postgresql/data
    networks:
      - elt_network

networks:
  elt_network:
    driver: bridge